@media (min-width: 600px) {
  article {
    margin-top: 50px;
  }
}

form {
  margin-left: 30px;
}

.addbookform-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 700px;
}

.addbookform-buttons {
  position: relative;
  top: 25px !important;
  height: 40px !important;
}

.tag-select-div {
  width: 90%;
  max-width: 700px;
}
