.icon {
  margin-right: 10px;
}

.button-group {
  margin-top: 20px;
}

.button {
  background-color: #d7d2cb !important;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
