.scroll-item-container {
  position: relative;
  margin: 6px;
  background-color: #d7d2cb;
  border-radius: 10px;
  margin: 2px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}

.scroll-button-container {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.scroll-button-container.left {
  left: 5px;
}

.scroll-button-container.right {
  right: 5px;
}

.scroll-button {
  margin: auto;
  padding: 3px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1000px;
}

.scroll-list-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scroll-list-container::-webkit-scrollbar {
  display: none;
}

.scroll-list-item-container {
  width: 30vw;
  max-width: 250px;
  margin: 0 8px;
}

.scroll-list-item-container > .book-card {
  width: 30vw;
  max-width: 250px;
}
