.scroll-item-container {
  position: relative;
  margin: 6px;
  border-radius: 10px;
  margin: 2px;
  border-radius: 10px;
}

.scroll-button-container {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.scroll-button-container.left {
  left: 5px;
}

.scroll-button-container.right {
  right: 5px;
}

.scroll-list-container {
  display: flex;
  max-height: 400px;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 2%;
}

.scroll-list-container::-webkit-scrollbar {
  display: none;
}

.scroll-list-item-container {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-right: 2%;
}

@media (min-width: 400px) {
  .scroll-list-item-container {
    padding-right: 8px;
  }
}

/* Disable arrows on mobile aka. screens under 700px in width */
@media (max-width: 700px) {
  .scroll-button {
    display: none;
  }
  .scroll-button-container {
    display: none;
  }
}
