.floatingbutton {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-weight: 6000 !important;
}

.floatingicon {
  width: 24px;
  height: 24px;
}
