.book-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 25vw;
  max-width: 225px;
  height: auto;
}

.book-card-image {
  margin-top: 0 !important;
  width: 100% !important;
  aspect-ratio: 75/100 !important;
  object-fit: cover !important;
  object-position: center !important;
}

.book-card-content {
  text-align: left;
  padding: 1vw !important;
}

.book-card-skeleton {
  margin-top: 0 !important;
  width: 100% !important;
  aspect-ratio: 75/100 !important;
  object-fit: cover !important;
  object-position: center !important;
}

@media (min-width: 700px) {
  .book-card-content {
    padding: 7px !important;
  }
}

.book-title {
  font-size: 20px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .book-title {
    font-size: 2.5vw !important;
  }
}

.book-authors {
  font-size: 16px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .book-authors {
    font-size: 2vw !important;
  }
}

.card-chip-positioner {
  position: absolute;
  top: 4%;
  right: 3%;
}

.card-chip-container {
  position: relative;

  text-align: center;
  width: 100%;
  height: 100%;
}

.card-chip.base {
  position: relative;
  font-size: 300% !important;
}

.card-chip.base.available {
  color: lightgreen;
}

.card-chip.base.mine {
  color: lightblue;
}

.card-chip.base.unavailable {
  color: salmon;
}

.card-chip-icon-container {
  position: absolute;
  z-index: 1;
  top: 17%;
  width: 100%;
  height: 100%;
}

.card-chip.icon {
  width: 100%;
  height: 50%;
}

.card-chip.icon.available {
  color: green;
}

.card-chip.icon.mine {
  color: blue;
}

.card-chip.icon.unavailable {
  color: red;
}
