.book-card {
  width: 25vw;
  max-width: 225px;
  height: auto;
}

.book-card-image {
  margin-top: 0 !important;
  aspect-ratio: 75/100 !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}

.book-card-chip {
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 0.7rem !important;
}

.book-card-content {
  padding: 1vw !important;
  text-align: left;
}

.book-card-skeleton {
  margin-top: 0 !important;
  aspect-ratio: 75/100 !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}

@media (min-width: 700px) {
  .book-card-content {
    padding: 7px !important;
  }
}

.book-title {
  overflow: hidden;
  font-size: 20px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 800px) {
  .book-title {
    font-size: 2.5vw !important;
  }
}

.book-authors {
  overflow: hidden;
  font-size: 16px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 800px) {
  .book-authors {
    font-size: 2vw !important;
  }
}
