.bookcard {
  display: flex;
  width: 90%; /* Take most of the screen width */
  max-width: 800px; /* Prevent it from getting too large on big screens */
  height: 80%;
  max-height: 80vh; /* Ensure it never overflows the screen height */
  overflow-y: auto; /* Allow scrolling if content overflows */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
  background-color: rgba(230, 230, 230, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.book-info-box {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  padding: 15px;
}

.book-card-header {
  font-size: 14px;
  color: grey;
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: bold;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.book-card-name {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #222;
}

.book-card-desc {
  font-size: 13px;
  margin: 5px 0;
  color: rgb(65, 65, 65);
  line-height: 1.5;
}

.book-card-meta {
  font-size: 15px;
  color: #0e0e0e;
  margin-top: 5px;
}

.book-card-meta span {
  font-weight: bold;
  color: #333;
}

.book-image {
  width: 70%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
