.book-card-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 400px;
  height: 40vw;
  padding: 0 2%;
  border-radius: 8px;
  background-color: #d7d2cb;
  border-radius: 10px;
  position: relative;
  margin: 2px;
}

.book-card-placeholder .icon {
  font-size: 112px;
  color: rgba(0, 0, 0, 0.1);
}

.book-card-placeholder .text {
  margin-top: 1%;
  font-size: 16px;
  color: #555;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 500px) {
  .book-card-placeholder .icon {
    font-size: 22.4vw;
  }

  .book-card-placeholder .text {
    font-size: 3.2vw;
  }
}
