.book-card-placeholder {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 8px;
  border-radius: 10px;
  position: relative;
  margin: 2px;
}

.book-card-placeholder .icon {
  font-size: 112px;
}

.book-card-placeholder .text {
  margin-top: 1%;
  font-size: 16px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 500px) {
  .book-card-placeholder .icon {
    font-size: 22.4vw;
  }

  .book-card-placeholder .text {
    font-size: 3.2vw;
  }
}
