.book-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 22vw;
  height: 32vw;
  max-width: 200px;
  max-height: 296px;
}

.book-card-action {
  height: 100%;
}

.book-card-image {
  z-index: 0 !important;
  position: absolute;
  top: 0;
}

.book-card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: white;
  z-index: 4 !important;
  padding: 1vw !important;
}

.book-title {
  font-size: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-authors {
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-chip-positioner {
  position: absolute;

  top: 0%;
  right: 0%;
}

.card-chip-container {
  position: relative;

  text-align: center;
  width: 100%;
  height: 100%;
}

.card-chip.base {
  position: relative;
  font-size: 250% !important;
}

.card-chip.base.available {
  color: lightgreen;
}

.card-chip.base.mine {
  color: lightblue;
}

.card-chip.base.unavailable {
  color: salmon;
}

.card-chip-icon-container {
  position: absolute;
  z-index: 1;
  top: 17%;
  width: 100%;
  height: 100%;
}

.card-chip.icon {
  width: 100%;
  height: 50%;
}
