.profilecard {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
}
.profile-info-box {
  display: flex;
  position: relative;
  flex-direction: row;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 120px;
}
.profile-card-header {
  font-size: 12px;
  position: absolute;
  right: 0px;
  margin: 7px;
  color: grey;
  font-size: 12px;
}
.avatar-picture {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 5px;
  width: 70px !important;
  height: 70px !important;
}
.profile-info {
  position: absolute;
  top: 50px;
  left: 80px;
}
.profile-card-name {
  margin: 0px;
  font-size: 12px;
}
.profile-card-email {
  margin: 0px;
}
.profile-card-buttons {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.logout-button {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
