.book-overview-card {
  display: flex;
  position: relative;

  top: 50%;
  flex-direction: column;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;

  border-radius: 25px !important;
  width: 80vw;
  max-width: 800px !important;
  max-height: 75vh;
}

.overview-close-button {
  position: absolute !important;
  top: 2%;
  right: 3%;
  z-index: 10;
  font-size: large !important;
}

.overview-content-container {
  margin: 7% 5%;
}

.overview-tophalf-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.overview-topleft-container {
  margin-left: 5%;
  width: 20vw !important;
  max-width: 200px !important;
}

.book-overview-image-container {
  border-radius: 5% !important;
  height: fit-content;
}

.book-overview-action-button {
  margin-top: 5px !important;
  width: 100% !important;
  height: 7vw !important;
  max-height: 56px;
  font-size: 3vw !important;
}

.book-overview-image {
  aspect-ratio: 75/100 !important;
  width: 100% !important;
}

.book-overview-info-container {
  position: relative;
  top: 0;
  margin: auto;
}

.overview-text {
  margin: 0 !important;
}

.overview-title {
  font-weight: 500 !important;
  font-size: 4vw !important;
}

.overview-info-text {
  font-size: 3vw !important;
}

.overview-description-container {
  max-height: 20vh;
  overflow-y: scroll !important;
}

.overview-description {
  font-size: 2.5vw !important;
}

.edit-button {
  align-self: center;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: 50% !important;
  height: 5vw !important;
  max-height: 56px;
  font-size: 1.8vw !important;
}

@media screen and (min-width: 800px) {
  .overview-title {
    font-size: 32px !important;
  }

  .overview-info-text {
    font-size: 24px !important;
  }

  .overview-description {
    font-size: 20px !important;
  }
  .book-overview-action-button {
    font-size: 24px !important;
  }
  .book-overview-action-button {
    font-size: 24px !important;
  }
}
