.book-overview-card {
  position: relative;
  width: 80vw;
  max-width: 800px !important;
  max-height: 75vh;
  margin: auto;
  display: flex;
  flex-direction: column;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  border-radius: 25px !important;
}

.overview-close-button {
  position: absolute !important;
  font-size: large !important;
  right: 3%;
  top: 2%;
  z-index: 10;
}

.overview-content-container {
  margin: 7% 5%;
}

.overview-tophalf-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  align-items: center;
}

.book-overview-image-container {
  margin-left: 5% !important;
  border-radius: 5% !important;
  width: 20vw !important;
  max-width: 200px !important;
  height: fit-content;
}

.book-overview-image {
  width: 20vw !important;
  max-width: 200px !important;
  aspect-ratio: 75/100 !important;
}

.book-overview-info-container {
  position: relative;
  top: 0;
  margin: auto;
}

.overview-text {
  margin: 0 !important;
}

.overview-title {
  font-size: 4vw !important;
}

.overview-info-text {
  font-size: 3vw !important;
}

.book-overview-action-button {
  position: relative;
  bottom: 0;
  font-size: 3vw !important;
}

.overview-description-container {
  overflow-y: scroll !important;
  max-height: 25vh;
}

.overview-description {
  font-size: 2.5vw !important;
}

@media screen and (min-width: 800px) {
  .overview-title {
    font-size: 32px !important;
  }

  .overview-info-text {
    font-size: 24px !important;
  }

  .overview-description {
    font-size: 20px !important;
  }
  .book-overview-action-button {
    font-size: 24px !important;
  }
}
