.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .nav-links {
    display: flex;
    text-align: left;
    flex-direction: column;

  }
  
  .nav-links a {
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .nav-links a:hover {
    color: #32a4f5;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .profile-picture:hover {
    transform: scale(1.1);
  }
