.notification {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
  background-color: rgba(230, 230, 230, 0.9);
  width: 300px;
}

.notif-box {
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 15px;
  height: 120px;
}
