@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Roboto', serif;
}

body {
  background-color: lightgrey;
}

article {
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
  font-family: inherit;
}

section {
  background-color: brown;
  text-align: left;
}
.page-content {
  margin-top: 70px; /*margin for navbar*/
  /* container: w3; */
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
}
