@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Roboto', serif;
}

h2 {
  font-size: medium;
  font-family: inherit;
}

h3 {
  font-size: small;
  font-family: inherit;
}

body {
  margin-bottom: 100px; /* This is a hotfix for floating buttons not overlapping page content */
  background-color: #f0f0ec;
}

article {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 900px;
  font-family: inherit;
}

@media (max-width: 599px) {
  article {
    width: 100%;
    max-width: 98%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  article {
    width: 95%;
    max-width: 750px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  article {
    width: 90%;
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  article {
    width: 90%;
    max-width: 1700px;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; /* Margin for navbar */
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  max-width: 1200px;
}

@media (max-width: 599px) {
  .page-content {
    width: 98%;
    max-width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .page-content {
    width: 95%;
    max-width: 900px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .page-content {
    width: 90%;
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .page-content {
    width: 90%;
    max-width: 1800px;
  }
}

.MuiButton-root {
  background-color: #ffc107 !important;
  color: #101820 !important;
}

.MuiFab-root {
  background-color: #101820 !important;
  color: #ffc107 !important;
}
