.sign-in-div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  margin: -100px 0 0 -150px;
  width: 300px;
  height: 200px;
}

.sign-in-paper {
  margin-bottom: 50px;
}

.sign-in-header {
  padding: 5px;
  text-align: center;
}

.sign-in-div > Button {
  left: 50%;

  transform: translate(-50%, -50%);
  /* or 3d alternative if you will add animations (smoother transitions) */
  transform: translate3d(-50%, -50%, 0);
}
