.filter-box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.filter-input {
  background-color: #d7d2cb;
  color: rgb(50, 50, 50);
  border-radius: 10px;
  padding: 3px 10px;
  width: 100%;
  margin-bottom: 5px;
}

.filter-select {
  min-width: 100px;
  width: 15%;
}

.books-container {
  display: block;
  justify-content: center;
}

.grid-container {
  margin-top: 20px;
  padding: 2% 0;
  border-radius: 10px;
  background-color: #d7d2cb;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-content: center;
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
